# Ignore specific files
.git
.gitignore
.dockerignore
README.md

# Ignore build and package artifacts
__pycache__
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.pyo
*.pyc

# Ignore system and temporary files
*.DS_Store
Thumbs.db

# Ignore environment-specific files
.env
*.env
.env.*

# Ignore development and testing folders
tests/
tests-* 

# Ignore Docker-related files
Dockerfile*
docker-compose.yml
.docker/
.dockerignore
